/* common shared styles */
body{
    font-family: "Open Sans", "serif";
    font-optical-sizing: auto;
    font-weight: 700;
    margin: 0;

}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
    text-align: center;
}



/* Header Related styles*/
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , left;
}

/* Nav related styles Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
}
.text-primary {
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    font-size: 45px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.primary-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
}
 
/* Banner related style */
.banner{
    padding: 0px 30px 0px 200px;
    display: flex;
    align-items: center;
}
.banner .profile-pic {
    background-repeat: no-repeat;
    max-width: 600px;
}
.banner .greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner .my-name {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-description {
    margin-top: 0px;
}

/* Main Section related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
}
/* About Section Styles*/

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
     margin: 130px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info {
    text-align: center;
}
.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}
.info-description {
    color: #474747;
    font-weight: bold; 
}

#what-i-do-description {
    padding: 30px 150px;
}
 
/* Skills related styles */

.skills-container {
    display: flex;
    gap: 24px;
    
}
.skills {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skills-title {
    font-size: 20px;
    font-weight: bold;
}

.skills-description {
    font-size: 16px;
    color: #757575;
}

/* Resume Related styles */

.resume-container {
    display: flex;
    gap: 50px;
}
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.resume-item-institute {
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px; 
}
.resume-item-description {
    color: #757575;
    font-size: 16px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* Footer related styles */
footer {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 100%;
}
